.Cards{
   border-radius: 5px;
   width: 15rem;
   text-align: center;
   padding: 0px;
   margin: 10px;
   overflow: hidden;
   box-shadow: 0px 0px 20px rgba(0,0,0, 0.1);
}
.CardsImg{
    transition: 0.4s;
}
.CardsImg:hover{
    transform: scale(1.05);
}
.CardsBody{
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.CardsTitle{
    height: 80px;
    overflow:hidden;
}
.ButtonAdc{
    background-color: rgb(101, 88, 245);
    width: 100%;
    transition: 0.5s;
    color: white;
    font-weight: bold;
}
.ButtonAdc:hover{
    background-color: rgb(65, 49, 250);
    width: 100%;
}
.CardsImgStar{
    width: 25px;  
}
.CardsBodyInformation{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.InformationDate{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 304px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.InformationDate:hover{
    background-color: black;
    transform: scale(1.1);
}
.CardsTextDate{
    color: white;
    font-weight: bold;
}
.ButtonLotties{
    position: absolute;
    top: 0px;
    right: 0;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Lotties{
    position: absolute;
    top: 0;
}