
.HeartImg:hover{
    opacity: 0.5;
}
.CartImg:hover{
    opacity: 0.5;
}
.SearchImg{
    opacity: 0.5;
}
.Notif{
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Notif p{
    font-size: 13px;
}