.container{
    background: #8dd7cf;
}
.NavBrand{
    font-size: 20px;
    font-weight: bold;
    color: white !important;
}
.FormControls{
    border-radius: 5px;
    margin-right: 10px;
    height: 40px;
}
.HeartImg:hover{
    opacity: 0.5;
}
.SearchImg{
    opacity: 0.5;
}
.Toggle{
    border: none !important;
    outline: none !important;
    list-style: none !important;
    box-shadow: none !important;
    background-color: white;
    margin-top: 5px;
}

